@use "variables" as *;
@use "mixins" as *;

.about {
    max-width: 80%;
    text-align: center;
    padding-top: 3rem;

    h2,
    p {
        margin: 1rem 0;
    }

    section {
        margin: 1rem auto;
    }

    .about-us {
        padding-bottom: 1rem;
        border-bottom: 0.3rem solid;
    }

    .contact img {
        height: 2rem;
        margin: 0 0.5rem;

        #{$link-hover-selector} {
            filter: invert(1);
        }
    }

    @include mq($tablet) {
        max-width: 70%;

        h2,
        p {
            margin: 2rem 0;
        }

        .contact img {
            height: 3rem;
        }
    }
}
