@use "variables" as *;
@use "mixins" as *;

// HomePage

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.submenu {
    color: white;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;

    #{$link-hover-selector} {
        color: #30469d;
        background-color: white;
    }
}

.tablist {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 2rem;
}

// span.active {
//     width: 1rem;
//     height: 1rem;
// }

// span.default {
//     width: 1rem;
//     height: 1rem;
// }

.hero-slider {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;

    img {
        width: 100vw;
    }

    .banner-info {
        position: absolute;
        background: #282828ae;
        bottom: 0;
        width: 80%;
        margin: 0 1rem 2.5rem;
        padding: 0 0.5rem;
        max-height: 50%;

        h1 {
            font-size: 0.9rem;
        }

        p {
            font-size: 0.7rem;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: scroll;
        }

        @include mq($mobileLarge) {
            padding: 0.5rem 1.5rem 1rem;

            h1 {
                font-size: 1.2rem;
                margin: 0.5rem 0;
            }
        }

        @include mq($tablet) {
            padding: 0 2rem 2rem;
            width: 60%;
            margin: 3rem;

            h1 {
                font-size: 2rem;
            }
        }
    }

    .slider-btns {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        bottom: 1rem;
    }

    button {
        height: 1rem;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;

        @include mq($tablet) {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    button.active {
        background-color: yellow;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }
}

// About

.contact {
    img {
        height: 2rem;
    }
}
