@use "variables" as *;
@use "mixins" as *;

.favorites {
    select {
        background-color: $navy;
        color: $white;
        margin: 1rem 1rem 2rem;
        padding: 0.5rem;
        border-bottom: 1px solid $yellow;
        border-radius: 0.2rem;
    }

    .no-favorites-container {
        background-color: $white;
        color: $black;
        margin: 2rem auto;
        padding: 1rem 1rem 5rem;
        border-radius: 0.3rem;
        text-align: center;

        a {
            color: $navy;
            text-decoration: underline;
            padding: 0 0.2rem;

            #{$link-hover-selector} {
                background-color: $navy;
                color: $white;
            }
        }
    }

    @include mq($mobileLarge) {
        padding: 3rem 2rem;
    }
}
