@use "variables" as *;
@use "mixins" as *;

.hero-slider {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    overflow: hidden;
    max-height: 40rem;

    img {
        width: 100vw;
    }

    .banner-info {
        position: absolute;
        background: $hover-background;
        bottom: 0;
        width: 80%;
        margin: 0 2rem 2.5rem;
        padding: 0 0.5rem;
        max-height: 50%;
        border-radius: 0.8rem;
        border: 1px solid $blue;
        box-shadow: $blue -0.5rem 0.3rem 0.5rem;

        h1 {
            font-size: 0.9rem;
        }

        p {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: scroll;
            scrollbar-width: none;
        }

        @include mq($mobileLarge) {
            padding: 0.5rem 1.5rem 1rem;

            h1 {
                font-size: 1.5rem;
                margin: 0.5rem 0;
            }
        }

        @include mq($tablet) {
            padding: 0 2rem 2rem;
            width: 60%;
            margin: 3rem;

            h1 {
                font-size: 2rem;
            }
        }
    }

    .slider-btns {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        bottom: 1rem;
    }

    button {
        height: 1rem;
        border-radius: 100%;
        background-color: white;
        cursor: pointer;

        @include mq($tablet) {
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    button.active {
        background-color: $yellow;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: block;
    }
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include mq($tablet) {
        max-width: 80rem;
        margin: 0 auto;
    }
}

.submenu {
    color: $white;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    @include mq($tablet) {
        margin: 1rem;
    }

    #{$link-hover-selector} {
        color: $blue;
        background-color: $white;
    }
}

.tablist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0;
    margin: 1rem 2rem;
    text-align: center;

    @include mq($tablet) {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}

// Page Not Found
.page-not-found section {
    background-color: $white;
    color: $navy;
    margin: 2rem auto;
    padding: 1rem 1rem 5rem;
    text-align: center;
    border-radius: 0.3rem;

    h2,
    a {
        color: $black;
    }
}
