header,
footer {
    background-color: #11172b;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    img {
        height: 2rem;
    }
}

header {
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    nav {
        ul {
            display: flex;
            gap: 2rem;
        }

        li {
            list-style: none;
        }

        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        img {
            height: 1.5rem;
        }
    }

    div.visible {
        display: block;
        background-color: white;
    }
    div.hidden {
        display: none;
    }

    button.hidden {
        display: none;
    }
}

footer {
    justify-content: center;
    flex-direction: column;
    padding: 1rem;

    a {
        margin: 0 0.5rem;
    }
}

div.open {
    display: block;
    background-color: white;
    position: static;
    height: 20rem;
}
