@use "variables" as *;
@use "mixins" as *;

header,
footer {
    background-color: $navy;

    .logo {
        height: 2.5rem;
    }
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    z-index: 100;

    @include mq($tablet) {
        padding: 1rem 2rem;
    }

    .nav-menu {
        ul {
            display: flex;
            flex-direction: column;
            margin-top: 5rem;
            padding: 0;
            align-items: center;

            li {
                list-style: none;
                margin: 2rem;
            }
        }

        .mobile-only {
            img {
                height: 3rem;
            }
        }

        .close-btn {
            position: absolute;
            right: 1.5rem;
            top: 1.5rem;
        }

        @include mobile-only($tablet) {
            position: fixed;
            left: -100%;
            top: 0;
            height: 100%;
            width: 80%;
            background-color: $navy;
            transition: left 0.5s ease;
            z-index: 100;
            overflow: hidden;

            li:not(:first-of-type) {
                padding: 1rem 5rem;
                border-bottom: 2px solid;
            }
        }

        @include mq($tablet) {
            ul {
                flex-direction: row;
                gap: 3rem;
                margin: 0;

                li {
                    margin: 0;
                }
            }

            .mobile-only {
                display: none;
            }
        }
    }

    .header-nav {
        display: flex;
        gap: 3rem;
    }

    .hamburger-icon {
        img {
            height: 3rem;
        }

        @include mq($tablet) {
            display: none;
        }
    }

    button {
        background-color: transparent;
        border: none;
    }

    button.hidden {
        display: none;
    }
}

.nav-menu.toggled {
    left: 0;
}

// Search Bar

.search-icon img {
    height: 2rem;
}

.searchbar {
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1rem;
    max-width: 80%;
    background-color: $white;
    overflow: hidden;
    border-radius: 0.5rem;

    input {
        padding: 0.5rem 10rem 0.5rem 0;
        margin: 0.5rem;
    }
}

.searchbar-hidden {
    display: none;
}

.search-results {
    position: absolute;
    top: 5rem;
    background-color: $navy;
    width: 100%;
    height: 50%;
    overflow: scroll;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.search-results-close {
    display: none;
}

// Footer

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

    a {
        margin: 0 0.5rem;
    }
}
