@use "variables" as *;
@use "mixins" as *;

body {
    font-family: $body-font;
    color: $white;
    line-height: $line-height;
}

h1,
h2,
nav li a {
    font-family: $secondary-font;
}

h1,
h2 {
    text-transform: uppercase;
}

.about,
.favorites {
    h1,
    h2 {
        color: $yellow;
        text-align: center;
    }
}

// h1
h1 {
    color: $white;
    font-size: 2rem;
    margin-bottom: 0;
}

.single-movie h1 {
    font-size: 1.8rem;
}

// h2
h2 {
    color: $yellow;
    font-size: 1.2rem;
}

// a
a {
    color: $white;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;

    @include mq($tablet) {
        font-size: 1.1rem;
    }
}

nav li a {
    font-size: 1.5rem;

    @include mq($tablet) {
        font-size: 1rem;
    }

    #{$link-hover-selector} {
        color: $yellow;
    }
}

// p
p {
    font-size: 0.7rem;

    @include mq($tablet) {
        font-size: 0.9rem;
    }
}

p.movie-title {
    font-size: 1rem;
    font-weight: 600;
    max-width: 7.5rem;
}

p.short-description {
    font-size: 0.8rem;
}

.rating p {
    font-size: 1rem;
    color: $black;
    font-weight: 800;
}

h2,
p {
    margin: 0;
}

button,
a {
    cursor: pointer;
}
