@use "variables" as *;
@use "mixins" as *;

body {
    font-family: $body-font;
    color: white;
}

h1,
h2,
nav li a {
    font-family: $heading-font;
}

h1,
h2 {
    color: white;
}

h2 {
    font-size: 0.8rem;
}

a {
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 0.7rem;
}

h2,
p {
    margin: 0;
}

nav li a {
    font-size: 2rem;
    #{$link-hover-selector} {
        color: #ffea3d;
        border-bottom: solid 2px #ffea3d;
    }
    @include mq($tablet) {
        font-size: 1rem;
    }
}
